/*! CSS Used from: http://iglyphic.com/themes/html/thefund/assets/css/bootstrap.min.css */

/* target_box */
/*! CSS Used from: http://iglyphic.com/themes/html/thefund/assets/css/style.css */
#header-area {
  position: relative;
  padding: 120px 0px;
  background: url(http://iglyphic.com/themes/html/thefund/assets/images/2.jpg)
    no-repeat center center;
  background-size: cover;
  position: relative;
}
#header-area:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.78);
}
.fund-heading h1 {
  color: #fff;
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0px;
}
.fund-heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-top: 27px;
}
@media (max-width: 768px) {
  .overlapping_urgent_cause {
    margin-top: -37px !important;
  }
}
@media only screen and (max-width: 1280px) {
  #header-area {
    padding: 140px 0px;
  }
  .fund-heading h1 {
    font-size: 70px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 768px) {
  #header-area {
    padding: 58px 0px;
  }
  .fund-heading h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .fund-heading h2 {
    font-size: 24px;
    margin-top: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .fund-heading h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .fund-heading h2 {
    font-size: 24px;
    letter-spacing: 3px;
  }
}

/*! CSS Used from: http://wpthemebooster.com/demo/themeforest/html/oellfare/css/style.css */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/bootstrap.min.css */

/*! end @import */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/animate.css */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*! end @import */
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0px;
}
h3 {
  font-size: 24px;
}
a {
  color: var(--primary);
  text-decoration: none;
  -webkit-transition: color 0.5s, background-color 0.8s;
  transition: color 0.5s, background-color 0.8s;
}
a:hover {
  color: var(--primary);
  text-decoration: none;
  -webkit-transition: color 0.5s, background-color 0.8s;
  transition: color 0.5s, background-color 0.8s;
}
.power_button_group {
  position: relative;
  z-index: 1;
  display: block;
}
.power_button {
  position: relative;
  width: auto;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 13px 45px;
  background: transparent;
  border: 0px solid #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.2);
  box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.2);
  overflow: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_button span.button_value {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}
.power_button:before,
.power_button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_button {
  color: #ffffff;
}
.power_button:hover {
  color: var(--primary);
}
.power_button:before {
  background: #ffffff;
}
.power_button:after {
  background: var(--primary);
}
.power_button.effect_1:before {
  right: 100%;
  top: 0;
}
.power_button.effect_1:hover::before {
  right: 0;
}
.power_button.effect_1:after {
  left: 0;
  top: 0;
}
.power_button.effect_1:hover::after {
  left: 100%;
}
.power_progress_content {
  position: relative;
  margin-top: 40px;
}
.power_progress_content:last-child {
  margin-bottom: 0;
}
.power_progress_content .power_progress_bar_back {
  background: #eeeeee;
}
.power_progress_content .power_progress_bar {
  position: relative;
  width: 0;
  height: 3px;
  background: var(--primary);
  -webkit-animation: progress 1.5s ease-in-out forwards;
  animation: progress 1.5s ease-in-out forwards;
  -webkit-box-shadow: 0px 5px 7px rgba(22, 50, 79, 0.3);
  box-shadow: 0px 5px 7px rgba(22, 50, 79, 0.3);
}
.power_progress_content .power_progress_value {
  position: absolute;
  right: 0;
  bottom: 100%;
  background: var(--primary);
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 7px;
  color: #ffffff;
  margin-bottom: 10px;
}
.power_progress_content .power_progress_value:after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--primary);
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.power_progress_content .power_progress_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 15px;
}
.power_progress_content .power_progress_amount span {
  font-family: "Hind", sans-serif;
}
.power_progress_content .power_progress_amount span b {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--primary);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.overlapping_urgent_cause {
  margin-top: -62px;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .overlapping_urgent_cause {
    margin-top: -22px;
  }
}
.urgent_cause_block {
  position: relative;
  background: #ffffff;
  padding: 60px 100px;
  border-radius: 15px;
  overflow: hidden;
}
.urgent_cause_block:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(http://wpthemebooster.com/demo/themeforest/html/oellfare/images/layer1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.urgent_cause_block .urgent_cause_heading h3 {
  line-height: 36px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.urgent_cause_block .power_progress_content .power_progress_bar {
  height: 8px;
}
.urgent_cause_block.alt {
  border-radius: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  -webkit-box-shadow: 0px 0px 13px rgba(22, 50, 79, 0.1);
  box-shadow: 0px 0px 13px rgba(22, 50, 79, 0.1);
}
.urgent_cause_block.alt .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.urgent_cause_block.alt:before {
  display: none;
}
.urgent_cause_block.alt .power_highlight_tag {
  background: #ffffff;
  color: var(--primary);
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.urgent_cause_block.alt .urgent_cause_heading h3 {
  line-height: 36px;
  margin-top: 7px;
  margin-bottom: 0;
}
.urgent_cause_block.alt .power_progress_content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.urgent_cause_block.alt .power_progress_content .power_progress_inner {
  width: 100%;
  margin-right: 50px;
}
.urgent_cause_block.alt .power_progress_content .power_progress_value {
  position: absolute;
  right: 0;
  top: 100%;
  background: #ffffff;
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 35px;
  padding: 0px 0px;
  color: var(--primary);
  margin-bottom: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  -webkit-transform: translateY(calc(-50% - 5px));
  transform: translateY(calc(-50% - 5px));
  -webkit-box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.1);
  box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.1);
}
.urgent_cause_block.alt .power_progress_content .power_progress_value:after {
  display: none;
}
.urgent_cause_block.alt .power_progress_content .power_progress_amount span {
  font-size: 14px;
}
.urgent_cause_block.alt .power_progress_content .power_button_group {
  display: inherit;
}
.urgent_cause_block.alt
  .power_progress_content
  .power_button_group
  .power_button {
  min-width: 200px;
  display: inline-block;
  padding: 50px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0;
  margin-right: -1px;
}
.urgent_cause_block.alt
  .power_progress_content
  .power_button_group
  .power_button:before {
  border-radius: 0px;
}
.urgent_cause_block.alt
  .power_progress_content
  .power_button_group
  .power_button:after {
  border-radius: 0px;
}
.power_highlight_tag {
  background: var(--primary);
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  padding: 4px 10px;
}
@media screen and (max-width: 991px) {
  .urgent_cause_block.alt {
    padding: 30px;
  }
  .urgent_cause_block.alt .power_progress_content {
    display: block;
    margin-top: 20px;
  }
  .urgent_cause_block.alt
    .power_progress_content
    .power_button_group
    .power_button {
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    padding: 20px 25px;
  }
}
@media screen and (max-width: 500px) {
  .urgent_cause_block {
    padding: 40px 40px;
  }
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* targrt_box_end */

/* boxes */
/*! CSS Used from: http://wpthemebooster.com/demo/themeforest/html/oellfare/css/style.css */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/bootstrap.min.css */

/*! end @import */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/animate.css */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*! end @import */
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0px;
}
h5 {
  font-size: 18px;
}
p {
  margin-bottom: 0px;
  font-family: "Hind", sans-serif;
}
img {
  max-width: 100%;
}
.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.power_iconbox {
  position: relative;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 35px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  height: 100%;
}
.power_iconbox h5 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox p {
  color: #62809a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox:hover {
  background: var(--primary);
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox:hover h5,
.power_iconbox:hover p {
  color: #ffffff;
}
.power_iconbox .power_iconbox_icon {
  position: relative;
  min-width: 50px;
  margin-right: 20px;
}
.power_iconbox img {
  width: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox img.secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.power_iconbox:hover img.primary_img {
  opacity: 0;
  visibility: hidden;
}
.power_iconbox:hover img.secondary_img {
  opacity: 1;
  visibility: visible;
}
.power_iconbox.type_2 {
  display: block;
  background: #fcfbfc;
  padding: 30px 30px;
  height: 100%;
}
.power_iconbox.type_2 > div {
  position: relative;
  z-index: 1;
}
.power_iconbox.type_2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox.type_2 h5 {
  font-size: 20px;
  color: var(--primary);
  line-height: 34px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.power_iconbox.type_2 p {
  color: #222222;
  line-height: 28px;
}
.power_iconbox.type_2:hover {
  color: #ffffff;
}
.power_iconbox.type_2:hover h5,
.power_iconbox.type_2:hover p {
  color: #ffffff;
}
.power_iconbox.type_2:hover:after {
  height: 100%;
}
@media screen and (max-width: 991px) {
  .power_iconbox {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.primary-img {
  font-size: 30px;
}
.primary-img:hover {
  color: #ffffff;
}
/* boxes_end */
/* footer */
/*! CSS Used from: http://localhost/trackt/assets/css/bootstrap.min.css */
/*! CSS Used from: http://localhost/trackt/assets/css/all.min.css */
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-map-marker-alt:before {
  content: "\f3c5";
}
.fa-mobile-alt:before {
  content: "\f3cd";
}
.far {
  font-weight: 400;
}
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
.fas {
  font-weight: 900;
}
/*! CSS Used from: http://localhost/trackt/assets/css/style.css */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
p {
  margin-bottom: 0px;
  width: 100%;
}
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}
.container-fluid {
  padding: 0px;
}
h2,
h5 {
  font-family: "Roboto", sans-serif;
  color: #545454;
}
.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}
.footer-cont {
  background-color: #212121;
  color: #fff;
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .footer-cont {
    padding: 30px 10px;
  }
}
.footer-cont .footer-top {
  padding-bottom: 40px;
}
.footer-cont .footer-top .foot-logo h2 {
  color: #fff;
  font-weight: 600;
  margin-top: 25px;
}
.footer-cont .footer-top .foot-addr ul {
  float: right;
}
.footer-cont .footer-top .foot-addr ul li {
  float: left;
  padding: 10px;
}
.footer-cont .footer-top .foot-addr ul li i {
  margin-right: 2px;
}
.footer-cont .foot-botom .fotter-coo h5 {
  color: var(--primary);
  font-size: 1rem;
  margin-bottom: 20px;
}
.footer-cont .foot-botom .fotter-coo ul li {
  font-size: 0.9rem;
  padding: 10px 3px;
}
.footer-cont .foot-botom .fotter-coo ul li i {
  margin-right: 5px;
}
.footer-cont .foot-botom .fotter-coo .gallery-row {
  margin-top: 5px;
}
.footer-cont .foot-botom .fotter-coo .gallery-row .gall-col {
  padding: 5px;
}
/* footer-top */
/*! CSS Used from: http://localhost/trackt/assets/css/bootstrap.min.css */

/*! CSS Used from: http://localhost/trackt/assets/css/style.css */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
p {
  margin-bottom: 0px;
  width: 100%;
}
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}
.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}
.footer-ablove {
  padding: 30px;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.5rem;
}
.footer-ablove .btn {
  float: right;
  background-color: #fff;
}

/* footer-downdown */
/*! CSS Used from: http://localhost/trackt/assets/css/bootstrap.min.css */

/*! CSS Used from: http://localhost/trackt/assets/css/all.min.css */
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-facebook-f:before {
  content: "\f39e";
}
.fa-github:before {
  content: "\f09b";
}
.fa-google-plus-g:before {
  content: "\f0d5";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-twitter:before {
  content: "\f099";
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
/*! CSS Used from: http://localhost/trackt/assets/css/style.css */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #444;
}
a:hover {
  color: #444;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}
.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}
.copy {
  padding: 20px;
  background-color: #191616;
  color: #fff;
}
.copy a {
  color: #fff;
}
.copy span {
  float: right;
}
.copy span i {
  margin-right: 20px;
}
