/*! CSS Used from: http://iglyphic.com/themes/html/thefund/assets/css/bootstrap.min.css */
header {
  display: block;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}
@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  h2 {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
.text-center {
  text-align: center;
  margin-top: 45px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
}
.container:after,
.container:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
.container:after,
.row:after {
  clear: both;
}

/* target_box */
/*! CSS Used from: http://iglyphic.com/themes/html/thefund/assets/css/style.css */
#header-area {
  position: relative;
  padding: 120px 0px;
  background: url(http://iglyphic.com/themes/html/thefund/assets/images/2.jpg)
    no-repeat center center;
  background-size: cover;
  position: relative;
}
#header-area:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.78);
}
.fund-heading h1 {
  color: #fff;
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0px;
}
.fund-heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  margin-top: 27px;
}
@media (max-width: 768px) {
  .overlapping_urgent_cause {
    margin-top: -37px !important;
  }
}
@media only screen and (max-width: 1280px) {
  #header-area {
    padding: 140px 0px;
  }
  .fund-heading h1 {
    font-size: 70px;
    line-height: 80px;
  }
}
@media only screen and (max-width: 768px) {
  #header-area {
    padding: 58px 0px;
  }
  .fund-heading h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .fund-heading h2 {
    font-size: 24px;
    margin-top: 17px;
  }
}
@media only screen and (max-width: 700px) {
  .fund-heading h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .fund-heading h2 {
    font-size: 24px;
    letter-spacing: 3px;
  }
}

/*! CSS Used from: http://wpthemebooster.com/demo/themeforest/html/oellfare/css/style.css */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
b {
  font-weight: bolder;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
h3 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h3 {
  font-size: 1.75rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-4,
.col-lg-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 992px) {
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  h3 {
    orphans: 3;
    widows: 3;
  }
  h3 {
    page-break-after: avoid;
  }
  .container {
    min-width: 992px !important;
  }
}
/*! end @import */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/animate.css */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*! end @import */
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0px;
}
h3 {
  font-size: 24px;
}
a {
  color: #fd1b5b;
  text-decoration: none;
  -webkit-transition: color 0.5s, background-color 0.8s;
  transition: color 0.5s, background-color 0.8s;
}
a:hover {
  color: #fd1b5b;
  text-decoration: none;
  -webkit-transition: color 0.5s, background-color 0.8s;
  transition: color 0.5s, background-color 0.8s;
}
.power_button_group {
  position: relative;
  z-index: 1;
  display: block;
}
.power_button {
  position: relative;
  width: auto;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 13px 45px;
  background: transparent;
  border: 0px solid #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.2);
  box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.2);
  overflow: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_button:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_button span.button_value {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
}
.power_button:before,
.power_button:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_button {
  color: #ffffff;
}
.power_button:hover {
  color: #fd1b5b;
}
.power_button:before {
  background: #ffffff;
}
.power_button:after {
  background: #fd1b5b;
}
.power_button.effect_1:before {
  right: 100%;
  top: 0;
}
.power_button.effect_1:hover::before {
  right: 0;
}
.power_button.effect_1:after {
  left: 0;
  top: 0;
}
.power_button.effect_1:hover::after {
  left: 100%;
}
.power_progress_content {
  position: relative;
  margin-top: 40px;
}
.power_progress_content:last-child {
  margin-bottom: 0;
}
.power_progress_content .power_progress_bar_back {
  background: #eeeeee;
}
.power_progress_content .power_progress_bar {
  position: relative;
  width: 0;
  height: 3px;
  background: #fd1b5b;
  -webkit-animation: progress 1.5s ease-in-out forwards;
  animation: progress 1.5s ease-in-out forwards;
  -webkit-box-shadow: 0px 5px 7px rgba(253, 27, 91, 0.2);
  box-shadow: 0px 5px 7px rgba(253, 27, 91, 0.2);
}
.power_progress_content .power_progress_value {
  position: absolute;
  right: 0;
  bottom: 100%;
  background: #fd1b5b;
  border-radius: 10px;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 7px;
  color: #ffffff;
  margin-bottom: 10px;
}
.power_progress_content .power_progress_value:after {
  content: "";
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fd1b5b;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.power_progress_content .power_progress_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 15px;
}
.power_progress_content .power_progress_amount span {
  font-family: "Hind", sans-serif;
}
.power_progress_content .power_progress_amount span b {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fd1b5b;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@media (print), (prefers-reduced-motion) {
  .animated {
    -webkit-animation: unset !important;
    animation: unset !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.overlapping_urgent_cause {
  margin-top: -62px;
  position: relative;
  z-index: 3;
}
.urgent_cause_block {
  position: relative;
  background: #ffffff;
  padding: 60px 100px;
  border-radius: 15px;
  overflow: hidden;
}
.urgent_cause_block:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url(http://wpthemebooster.com/demo/themeforest/html/oellfare/images/layer1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.urgent_cause_block .urgent_cause_heading h3 {
  line-height: 36px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.urgent_cause_block .power_progress_content .power_progress_bar {
  height: 8px;
}
.urgent_cause_block.alt {
  border-radius: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  -webkit-box-shadow: 0px 0px 13px rgba(22, 50, 79, 0.1);
  box-shadow: 0px 0px 13px rgba(22, 50, 79, 0.1);
}
.urgent_cause_block.alt .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.urgent_cause_block.alt:before {
  display: none;
}
.urgent_cause_block.alt .power_highlight_tag {
  background: #ffffff;
  color: #fd1b5b;
  padding: 0px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0px;
}
.urgent_cause_block.alt .urgent_cause_heading h3 {
  line-height: 36px;
  margin-top: 7px;
  margin-bottom: 0;
}
.urgent_cause_block.alt .power_progress_content {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.urgent_cause_block.alt .power_progress_content .power_progress_inner {
  width: 100%;
  margin-right: 50px;
}
.urgent_cause_block.alt .power_progress_content .power_progress_value {
  position: absolute;
  right: 0;
  top: 100%;
  background: #ffffff;
  border-radius: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 35px;
  padding: 0px 0px;
  color: #fd1b5b;
  margin-bottom: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  -webkit-transform: translateY(calc(-50% - 5px));
  transform: translateY(calc(-50% - 5px));
  -webkit-box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.1);
  box-shadow: 0px 0px 13px rgba(253, 27, 91, 0.1);
}
.urgent_cause_block.alt .power_progress_content .power_progress_value:after {
  display: none;
}
.urgent_cause_block.alt .power_progress_content .power_progress_amount span {
  font-size: 14px;
}
.urgent_cause_block.alt .power_progress_content .power_button_group {
  display: inherit;
}
.urgent_cause_block.alt
  .power_progress_content
  .power_button_group
  .power_button {
  min-width: 200px;
  display: inline-block;
  padding: 50px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0;
  margin-right: -1px;
}
.urgent_cause_block.alt
  .power_progress_content
  .power_button_group
  .power_button:before {
  border-radius: 0px;
}
.urgent_cause_block.alt
  .power_progress_content
  .power_button_group
  .power_button:after {
  border-radius: 0px;
}
.power_highlight_tag {
  background: #fd1b5b;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  padding: 4px 10px;
}
@media screen and (max-width: 991px) {
  .urgent_cause_block.alt {
    padding: 30px;
  }
  .urgent_cause_block.alt .power_progress_content {
    display: block;
    margin-top: 20px;
  }
  .urgent_cause_block.alt
    .power_progress_content
    .power_button_group
    .power_button {
    width: 100%;
    font-size: 14px;
    margin-top: 15px;
    padding: 20px 25px;
  }
}
@media screen and (max-width: 500px) {
  .urgent_cause_block {
    padding: 40px 40px;
  }
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* targrt_box_end */

/* boxes */
/*! CSS Used from: http://wpthemebooster.com/demo/themeforest/html/oellfare/css/style.css */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h5 {
  font-size: 1.25rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-lg-3,
.col-md-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  img {
    page-break-inside: avoid;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  .container {
    min-width: 992px !important;
  }
}
/*! end @import */
/*! @import http://wpthemebooster.com/demo/themeforest/html/oellfare/css/animate.css */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
/*! end @import */
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0px;
}
h5 {
  font-size: 18px;
}
p {
  margin-bottom: 0px;
  font-family: "Hind", sans-serif;
}
img {
  max-width: 100%;
}
.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.power_iconbox {
  position: relative;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 35px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox h5 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox p {
  color: #62809a;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox:hover {
  background: #fd1b5b;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox:hover h5,
.power_iconbox:hover p {
  color: #ffffff;
}
.power_iconbox .power_iconbox_icon {
  position: relative;
  min-width: 50px;
  margin-right: 20px;
}
.power_iconbox img {
  width: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox img.secondary_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.power_iconbox:hover img.primary_img {
  opacity: 0;
  visibility: hidden;
}
.power_iconbox:hover img.secondary_img {
  opacity: 1;
  visibility: visible;
}
.power_iconbox.type_2 {
  display: block;
  background: #fcfbfc;
  padding: 30px 30px;
  height: 100%;
}
.power_iconbox.type_2 > div {
  position: relative;
  z-index: 1;
}
.power_iconbox.type_2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fd1b5b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.power_iconbox.type_2 h5 {
  font-size: 20px;
  color: #fd1b5b;
  line-height: 34px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.power_iconbox.type_2 p {
  color: #222222;
  line-height: 28px;
}
.power_iconbox.type_2:hover {
  color: #ffffff;
}
.power_iconbox.type_2:hover h5,
.power_iconbox.type_2:hover p {
  color: #ffffff;
}
.power_iconbox.type_2:hover:after {
  height: 100%;
}
@media screen and (max-width: 991px) {
  .power_iconbox {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/*! CSS Used keyframes */
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
/* boxes_end */
/* footer */
/*! CSS Used from: http://localhost/trackt/assets/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}
footer {
  display: block;
}
h2,
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
}
h2,
h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h2 {
  font-size: 2rem;
}
h5 {
  font-size: 1.25rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-6,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-8 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
@media (min-width: 768px) {
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  img {
    page-break-inside: avoid;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
  .container {
    min-width: 992px !important;
  }
}
/*! CSS Used from: http://localhost/trackt/assets/css/all.min.css */
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-map-marker-alt:before {
  content: "\f3c5";
}
.fa-mobile-alt:before {
  content: "\f3cd";
}
.far {
  font-weight: 400;
}
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}
.fas {
  font-weight: 900;
}
/*! CSS Used from: http://localhost/trackt/assets/css/style.css */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
}
ul {
  margin-bottom: 0;
  padding-left: 0;
}
p {
  margin-bottom: 0px;
  width: 100%;
}
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}
.container-fluid {
  padding: 0px;
}
h2,
h5 {
  font-family: "Roboto", sans-serif;
  color: #545454;
}
.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}
.footer-cont {
  background-color: #212121;
  color: #fff;
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .footer-cont {
    padding: 30px 10px;
  }
}
.footer-cont .footer-top {
  padding-bottom: 40px;
}
.footer-cont .footer-top .foot-logo h2 {
  color: #fff;
  font-weight: 600;
  margin-top: 25px;
}
.footer-cont .footer-top .foot-addr ul {
  float: right;
}
.footer-cont .footer-top .foot-addr ul li {
  float: left;
  padding: 10px;
}
.footer-cont .footer-top .foot-addr ul li i {
  margin-right: 2px;
}
.footer-cont .foot-botom .fotter-coo h5 {
  color: #f78d15;
  font-size: 1rem;
  margin-bottom: 20px;
}
.footer-cont .foot-botom .fotter-coo ul li {
  font-size: 0.9rem;
  padding: 10px 3px;
}
.footer-cont .foot-botom .fotter-coo ul li i {
  margin-right: 5px;
}
.footer-cont .foot-botom .fotter-coo .gallery-row {
  margin-top: 5px;
}
.footer-cont .foot-botom .fotter-coo .gallery-row .gall-col {
  padding: 5px;
}
/* footer-top */
/*! CSS Used from: http://localhost/trackt/assets/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
}
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:focus,
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn:disabled {
  opacity: 0.65;
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  p {
    orphans: 3;
    widows: 3;
  }
  .container {
    min-width: 992px !important;
  }
}
/*! CSS Used from: http://localhost/trackt/assets/css/style.css */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
p {
  margin-bottom: 0px;
  width: 100%;
}
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}
.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}
.footer-ablove {
  padding: 30px;
  background-color: #ff5722;
  color: #fff;
  font-size: 1.5rem;
}
.footer-ablove .btn {
  float: right;
  background-color: #fff;
}

/* footer-downdown */
/*! CSS Used from: http://localhost/trackt/assets/css/bootstrap.min.css */
*,
::after,
::before {
  box-sizing: border-box;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  .container {
    min-width: 992px !important;
  }
}
/*! CSS Used from: http://localhost/trackt/assets/css/all.min.css */
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-facebook-f:before {
  content: "\f39e";
}
.fa-github:before {
  content: "\f09b";
}
.fa-google-plus-g:before {
  content: "\f0d5";
}
.fa-pinterest-p:before {
  content: "\f231";
}
.fa-twitter:before {
  content: "\f099";
}
.fab {
  font-family: "Font Awesome 5 Brands";
}
/*! CSS Used from: http://localhost/trackt/assets/css/style.css */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: #444;
}
a:hover {
  color: #444;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}
.container {
  max-width: 1170px;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}
.copy {
  padding: 20px;
  background-color: #191616;
  color: #fff;
}
.copy a {
  color: #fff;
}
.copy span {
  float: right;
}
.copy span i {
  margin-right: 20px;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Font Awesome 5 Brands";
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url(http://localhost/trackt/assets/webfonts/fa-brands-400.eot);
  src: url(http://localhost/trackt/assets/webfonts/fa-brands-400.eot#iefix)
      format("embedded-opentype"),
    url(http://localhost/trackt/assets/webfonts/fa-brands-400.woff2)
      format("woff2"),
    url(http://localhost/trackt/assets/webfonts/fa-brands-400.woff)
      format("woff"),
    url(http://localhost/trackt/assets/webfonts/fa-brands-400.ttf)
      format("truetype"),
    url(http://localhost/trackt/assets/webfonts/fa-brands-400.svg#fontawesome)
      format("svg");
}
