@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
/* body{
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: black;
} */
span{
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  text-align: center;

  
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
}
span a:before,
span a:after{
  position: absolute;
  /* content: "CHECK"; */
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 5px solid black; */
  box-sizing: border-box;
}
span:nth-child(1) a:before{
  color: #ecf0f1;
  background: #0984e3;
  content: "Donate";
  transform: rotateY(0deg) translateZ(25px);
}
span:nth-child(1) a:after{
  color: #ecf0f1;
  background-color: #2ecc71;
  content: "Thank you";
  transform: rotateX(90deg) translateZ(25px);
}
/* span:nth-child(2) a:after{
  color: #ecf0f1;
  background-color: #8e44ad;
  content: "Donate";
  transform: rotateY(0deg) translateZ(25px);
} */
/* span:nth-child(2) a:before{
  color: #ecf0f1;
  background: #2ecc71;
  content: "Thank You";
  transform: rotateX(-90deg) translateZ(25px);
} */
span:nth-child(1) a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
/* span:nth-child(2) a:hover{
  transform: translateZ(-25px) rotateX(90deg);
} */
.but2{
    text-align: center;
    
}
