@import url("https://fonts.googleapis.com/css2?family=Lateef&family=Merienda:wght@700&display=swap");
:root {
  --primary: #0984e3;
  --secondary: #8e44ad;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}
body {
  padding: 0 !important;
  margin: 0;
}
.themes {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2.5rem;
  padding-top: 0px;
  margin-top: -5px;
  font-size: 40px;
}
.botton {
  background-color: #007bff !important;
  border-color: #007bff !important;
}
.wellc {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 35px;
}
.donate-index {
  text-align: center;
}
.joiner {
  text-align: center;
}
.contact-index {
  text-align: center;
  margin-bottom: 70px;
}
.contact-index h1 {
  margin-bottom: 29px;
}
.contact-index h2 a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #2ecc71;
}
.contact-index h2 a {
  background-color: #0984e3;
}
/* social icons */
/* @import "//codepen.io/chrisdothtml/pen/ojLzJK.css"; */
.social-index {
  text-align: center;
  margin-bottom: 40px;
}
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .sofa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .sofa {
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .sofa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .sofa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .sofa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .sofa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .sofa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.sofab:focus .sofa,
.sofab:hover .sofa {
  color: #fff !important;
  transform: scale(1);
  position: relative;
}
.social-btns {
  margin: auto;
  font-size: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 65px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "";
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
.social-btns .btn .sofa {
  font-size: 38px;
  vertical-align: middle;
}

.sub-btn {
  margin-left: 10px;
  margin-top: 5px;
}
.traicentre {
  text-align: center;
}
.login h5 {
  margin-bottom: 0px !important;
}
.login {
  padding: 10px;
}
@media (max-width: 450px) {
  .carousel-item img {
    height: 100%;
    width: 100%;
    /* width: 50%; */
    /* left: 3px ; */
  }
  .back-img {
    height: 300px;
    width: 100%;
  }
  .carousel-item {
    width: 100%;
    height: 300px;
  }
  .carousel-inner {
    height: 300px;
    width: 100%;
  }
  .carousel-caption {
    position: relative !important ;
    padding-top: 10px !important;
    padding-bottom: -10px !important;
    margin-bottom: -20px !important;
    top: 28px !important;
    padding-left: 10px !important;
  }
  .text-right {
    margin-right: 49px;
  }
  .text-left {
    font-size: 20px;
    margin-right: 50px !important;
  }
  .stm-ea {
    font-size: 30px;
  }
  .wellc {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .carousel-captiono {
    position: relative !important ;
    /* padding-top: 10px !important;
        padding-bottom: -10px !important;
        margin-bottom: -20px !important; */
    top: 58px !important;
    padding-left: 30px !important;
    padding-right: 50px !important;
    margin-right: 50px !important;
    color: white;
    text-shadow: 2px 2px #333;
    font-weight: 100px;
  }
}

.con-btn {
  background-color: #6c757d;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 30px;
  color: white;
}
.h3-pics {
  text-align: center;
  position: relative;
  bottom: -50px;
}
hr.style-eight {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.style-eight:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}
.do-sep {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #30336b;
  margin-top: 50px;
}
.foot-do {
  position: relative;
  bottom: -400px;
}
.collapse ul li a:hover {
  color: #0984e3 !important;
  /* text-shadow: 1px 1px 1px #2ecc71; */
}
.collapse ul li a {
  color: #2c3e50 !important;
}
.navbar-brand {
  color: black !important;
}
.navbar-toggler {
  background: rgba(44, 62, 80, 1) !important;
}
.album-id ul li {
  display: inline-flex;
  background-color: #0984e3;
  padding: 7px 15px;
  border-radius: 7px;
  margin-left: 9px;
}
@media (max-width: 828px) {
  .album-id ul li {
    display: block;
    margin-bottom: 9px;
    margin-left: -38px;
  }
}
.album-id ul li:hover {
  background-color: #2ecc71;
}
.album-id {
  text-align: center;
  margin-bottom: -28px;
}
.album-id ul li a {
  color: #fff !important;
}
.album-id ul li a:hover {
  text-decoration: none;
}
.col-12 h1 {
  color: black !important;
  margin-bottom: 25px;
}
.col-12 {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}
.text-right p,
.text-left p {
  font-weight: 1000;
}
@media (max-width: 370px) {
  .navbar-brand {
    font-size: 0.89em !important;
  }
}
.navbar-toggler {
  padding: 0px;
}

.typed_wrap {
  text-align: center;
  position: relative;
  /* right: 20px; */
}
.typed_wrap h2 {
  display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
  content: "|";
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
  opacity: 0;
  display: none;
}
/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.themescls {
  /* background: aliceblue; */
  /* padding: 60px;
  font-family: "Merienda", cursive; */
  /* border: 1px aliceblue;
  border-radius: 15px; */
  /* border-radius: 50px;
  background: #ffffff;
  box-shadow: inset 7px 7px 0px #007bff, inset -35px -35px 70px #ffffff; */
  margin: 0 auto;
  padding: 15px;
  /* font-family: "Lato", sans-serif; */
}
.lead {
  /* font-family: "Lateef", cursive; */
  font-size: 1rem !important;
  font-weight: 550px !important;
}
.btn-pro {
  /* background: none; */
  color: black !important;
  background-color: transparent !important;
  border-color: transparent !important;
  cursor: default !important;
  box-shadow: none !important;
}
.wel {
  margin: 10px;
}
.container.marketing {
  margin-top: 30px;
}
.foot-p {
  font-size: unset;
  color: #fff;
  margin-bottom: 0px;
}
.navbtn {
  background: transparent !important;
}
.navicon {
  background-image: url(../../images/svg/menu.svg) !important;
}
.dashion {
  width: 50px;
}
.dahionc {
  text-align: left !important;
}
.fotter-coo ul li a {
  color: #ffffff;
  text-decoration: none;
}
.navbar {
  justify-content: none !important;
}
.navbtn {
  margin: 0 0 0 auto;
}
/* for themes */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
span,
a,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.section-head {
  margin-bottom: 60px;
}
.section-head h4 {
  position: relative;
  padding: 0;
  color: #007bff;
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  margin-bottom: 30px;
}
.section-head h4:before {
  content: "";
  width: 60px;
  height: 3px;
  background: #007bff;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  color: #2f2f2f;
}
p.service_text {
  color: #cccccc !important;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.section-head p,
p.awesome_line {
  color: #818181;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.extra-text {
  font-size: 34px;
  font-weight: 700;
  color: #2f2f2f;
  margin-bottom: 25px;
  position: relative;
  text-transform: none;
}
.extra-text::before {
  content: "";
  width: 60px;
  height: 3px;
  background: #f91942;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.extra-text span {
  font-weight: 700;
  color: #f91942;
}
.item {
  background: #fff;
  text-align: center;
  padding: 30px 25px;
  -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  border: 5px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover {
  background: #007bff;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover .item,
.item:hover span.icon {
  background: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item:hover h6,
.item:hover p {
  color: #fff;
  -webkit-transition: all 0.5s ease 0;
  transition: all 0.5s ease 0;
  transition: all 0.5s ease 0s;
}
.item .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #007bff;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}
.item .feature_box_col_one {
  background: rgba(247, 198, 5, 0.2);
  color: #007bff;
}
.item .feature_box_col_two {
  background: rgba(255, 77, 28, 0.15);
  color: #007bff;
}
.item .feature_box_col_three {
  background: rgba(0, 147, 38, 0.15);
  color: #007bff;
}
.item .feature_box_col_four {
  background: rgba(0, 108, 255, 0.15);
  color: #007bff;
}
.item .feature_box_col_five {
  background: rgba(146, 39, 255, 0.15);
  color: #007bff;
}
.item .feature_box_col_six {
  background: rgba(23, 39, 246, 0.15);
  color: #007bff;
}
.item p {
  font-size: 15px;
  line-height: 26px;
}
.item h6 {
  margin-bottom: 20px;
  color: #2f2f2f;
}
.mission p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
}
.mission i {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #f91942;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
}
.mission .small-text {
  margin-left: 10px;
  font-size: 13px;
  color: #666;
}
.skills {
  padding-top: 0px;
}
.skills .prog-item {
  margin-bottom: 25px;
}
.skills .prog-item:last-child {
  margin-bottom: 0;
}
.skills .prog-item p {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 10px;
}
.skills .prog-item .skills-progress {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 20px;
  position: relative;
}
.skills .prog-item .skills-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #f91942;
  width: 10%;
  border-radius: 10px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.skills .prog-item .skills-progress span:after {
  content: attr(data-value);
  position: absolute;
  top: -5px;
  right: 0;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  padding: 3px 7px;
  border-radius: 30px;
}
